<div id="search">
	<h2>&nbsp;Search Properties Online</h2>
	<form action="/search">
		<div id="search-text"><input type="text" size="40" class="text" name="q" value="" id="q" /><input type="submit" name="submit" value="Go &gt; &gt;  " id="submit" class="submit" /></div>
	</form>
	<br />
	<%= link_to "Advanced Search", :controller => "search" %> | <%= link_to "Search Tips", :controller => "catalog" %>
</div>